@import url("https://fonts.cdnfonts.com/css/poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  width: 100%;
  background: #222;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 370px;
  border: 1px solid #2980b9;
  border-radius: 50px;
}
.wrapper .avatar {
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  border: 5px solid #2980b9;
  position: relative;
  left: 33%;
  margin-top: -67px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}

.wrapper p {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin-left: 110px;
  margin-top: 10px;
  border-bottom: 3px solid #fff;
  border-radius: 3px;
  width: 180px;
  text-align: center;
}

.wrapper input {
  width: 75%;
  height: 40px;
  margin-left: 45px;
  padding-left: 10px;
  color: #fff;
  background: transparent;
  outline: none;
  border: 1px solid;
  border-radius: 10px;
  font-size: 15px;
  margin-top: 30px;
  transition: 0.5s;
}

.wrapper input::placeholder {
  font-size: 16px;
  color: #fff;
}

.wrapper input:focus {
  border: 1px solid #2980b9;
  color: #3498db;
}

.wrapper button {
  margin-top: 40px;
  width: 75%;
  height: 40px;
  margin-left: 45px;
  background: none;
  color: #b9c4c6;
  font-size: 22px;
  outline: none;
  border: 2px solid #2980b9;
  cursor: pointer;
  transition: 0.5s;
}

.wrapper button:hover {
  color: #d5dbdd;
  border: 2px solid #3498db;
  background: linear-gradient(#34495e,#2c3e50);
}
